<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Haiku Random Generator</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  </head>
  <body ng-app = "haikuModule" ng-controller='haikuController'>
     <main>
<div id="headline">
  <h1 >Haiku poems date from 9th century Japan to the present day.</h1> <h2>Haiku is more than a type of poem; it is a way of looking at the physical world and seeing something deeper, like the very nature of existence.
  </h2>
</div>

<div class="poem">
  <h1 class="press">Press to generate a haiku</h1>

  <button ng-click="displayPoem()" class="submitButton" type="button" name="button">Press Here</button>

          <p ng-repeat=" lines in finalPoem track by $index" class="haikuPoem">{{lines}} </p>
</div>


<div class="basho">
<h2>Basho Matsuo</h2>
<h3>Here are three examples of the haiku of Basho Matsuo, the first great poet of haiku in the 1600s:</h3>

<p class="haiku">An old silent pond...,<br>
A frog jumps into the pond, <br>
splash! Silence again.</p>

<p class="haiku">Autumn moonlight <br>
a worm digs silently <br>
into the chestnut.</p>
<p class="haiku">Lightning flash <br>
what I thought were faces <br>
are plumes of pampas grass.
</p>
</div>

<p>Generously Borrowed from <a href="http://examples.yourdictionary.com/examples-of-haiku-poems.html" target="_blank">http://examples.yourdictionary.com/examples-of-haiku-poems.html</a>
  </main>
  <script src="lib/angular.min.js" charset="utf-8"></script>
    <script src="lib/angular-route.min.js" charset="utf-8"></script>
  <script src="angular/controller.js"></script>
  <script src="angular/service.js"></script>
  </body>
</html>
