<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Haiku Random Generator</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body ng-app = "haikuModule" ng-controller='haikuController'>
     <main>

<h1 id="headline">Haiku poems date from 9th century Japan to the present day. Haiku is more than a type of poem; it is a way of looking at the physical world and seeing something deeper, like the very nature of existence.
</h1>
<div class="poem">
  <h1 class="press">Press to generate a haiku</h1>

  <!-- <button ng-click="addOneLine(line)" class="submitButton" type="button" name="button">Press Here</button>
  <div class="wordBox">
        <span ng-class="item.cls" ng-repeat="line in lines track by $index">{{line.name}}</span> -->
      </div>
          <p>random text goes here</p>

</div>


<div class="basho">
<h2>Basho Matsuo</h2>
<h3>Here are three examples of the haiku of Basho Matsuo, the first great poet of haiku in the 1600s:</h3>

<p class="haiku">An old silent pond...,<br>
A frog jumps into the pond, <br>
splash! Silence again.</p>

<p class="haiku">Autumn moonlight <br>
a worm digs silently <br>
into the chestnut.</p>
<p class="haiku">Lightning flash <br>
what I thought were faces <br>
are plumes of pampas grass.
</p>
</div>

<p>Generously Borrowed from <a href="http://examples.yourdictionary.com/examples-of-haiku-poems.html" target="_blank">http://examples.yourdictionary.com/examples-of-haiku-poems.html</a>
  </main>
  <script src="lib/angular.min.js" charset="utf-8"></script>
    <script src="lib/angular-route.min.js" charset="utf-8"></script>
  <script src="angular/controller.js"></script>
  <script src="angular/service.js"></script>
  </body>
</html>
