main {
width: 80%;
margin: 0 auto;
}
#headline {
  background-color: red;
  opacity: 1.0;
  z-index: 100;
  height: 90%;
}

body  {
    background-image: url("images/art.jpg");
    background-color: #cccccc;
    width: 75%;
    z-index: 5;
  }
.haiku {
  display: inline-block;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.poem {
  width: 70%;
  height: 300px;
  background-color: rgb(145, 255, 249);
  margin: 0 auto;
}

.haikuPoem {
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  text-align: center;
  line-height: 50%;
  margin-top: -1px;
}
.press {
  text-align: center;
  margin-top: 10px;
}
.submitButton {
    margin-left: 50px;
}
