main {
width: 80%;
margin: 0 auto;
}
#headline {
  background-color: red;
  opacity: 0.80;
  z-index: 100;
}

body  {
    background-image: url("images/art.jpg");
    background-color: #cccccc;
    width: 75%;
    z-index: 5;
  }
.haiku {
  display: inline-block;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.poem {
  width: 70%;
  height: 250px;
  background-color: rgb(145, 255, 249);
  margin: 0 auto;
}
.press {
  text-align: center;
  margin-top: 10px;
}
.submitButton {
    margin-left: 50px;
}
